.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 80px;
    background-color: #020617;
    position: fixed;
    top: 0%;
    z-index: 999;
}
.navbar-div-logo {
    display: flex;
    align-items: center;
}
#logo {
    transition: transform 0.5s;
}
#logo:hover{
    transform: rotateZ(360deg);
}
.display-non {
    display: none;
}

.mob-navbar-div-links {
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 3px solid #e11d48;
}
#menu-close-icon {
    position: relative;
    width: 30px;
    transition: transform 0.5s;
    z-index: 2;
}
#menu-close-icon:hover:active {
    transform: rotateZ(180deg);
}
#links-mob {
    text-transform: capitalize;
    color: #fff7f7;
    text-decoration: none;
    margin: 20px 0;
    font-size: 1rem;
}
.navbar-div-links {
    display: none;
}


/* xs */
@media (min-width: 475px) {
    #links-mob {
        margin: 1.8rem 0;
        font-size: 1.1rem;
    }
}



/* sm */
@media (min-width: 640px) {
    .navbar-div-links {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 250px;
    }
    #links {
        text-transform: capitalize;
        color: #fff7f7;
        text-decoration: none;
        transition: all 0.3s;
    }
    #links:hover {
        transform: translateY(-3px);
    }
    #links:active {
        color: #e11d48;
    }
    .mob-navbar-div-links,
    #menu-close-icon {
        display: none;
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


